ion-toolbar {
  --background:rgb(2,0,36);
  --background: linear-gradient(90deg, rgba(2,0,36,1) 0%. regba(121,110,9,1) 0%, rgba(9,76,116,1) 0%, regba(0,0,0,1) 100%);

  & ion-title {
    --color: red;
  }
}