<ion-content>
  <div class="container">
    <ion-row>
      <ion-col size="12" class="main">
        <br> 
  
        <div class="calculadora">
          <ion-input placeholder="0" readonly="true" class="resultado" id="resultado"></ion-input>

          <br>

          <ion-row>
            <ion-button color="light" (click)="this.calcular('acao', 'c')">C</ion-button>
            <ion-button color="light" (click)="this.calcular('acao', '%')">%</ion-button>
            <ion-button color="light" (click)="this.calcular('acao', '/')">/</ion-button>
            <ion-button color="light" (click)="this.calcular('acao', '*')">x</ion-button>
          </ion-row>
  
          <ion-row>
            <ion-button color="light" (click)="this.calcular('valor', 7)">7</ion-button>
            <ion-button color="light" (click)="this.calcular('valor', 8)">8</ion-button>
            <ion-button color="light" (click)="this.calcular('valor', 9)">9</ion-button>
            <ion-button color="light" (click)="this.calcular('acao', '-')">-</ion-button>
          </ion-row>
  
          <ion-row>
            <ion-button color="light" (click)="this.calcular('valor', 4)">4</ion-button>
            <ion-button color="light" (click)="this.calcular('valor', 5)">5</ion-button>
            <ion-button color="light" (click)="this.calcular('valor', 6)">6</ion-button>
            <ion-button color="light" (click)="this.calcular('acao', '+')">+</ion-button>
          </ion-row>
  
          <ion-row>
            <ion-button color="light" (click)="this.calcular('valor', 1)">1</ion-button>
            <ion-button color="light" (click)="this.calcular('valor', 2)">2</ion-button>
            <ion-button color="light" (click)="this.calcular('valor', 3)">3</ion-button>
            <ion-button class="enter" color="light" (click)="this.calcular('acao', '=');">=</ion-button>
          </ion-row>
  
          <ion-row style="margin-top: -60px;">
            <ion-button class="zero" color="light" (click)="this.calcular('valor', 0)">0</ion-button>
            <ion-button color="light" (click)="this.calcular('acao', ',')">,</ion-button>
          </ion-row>

        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>